<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tabla Sector</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">Nuevo registro</button>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="mytable">
                        <thead style="background: #999;">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Código</th>
                                <th class="text-center">Sector</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each results}}
                        <tr>
                            <td class="text-center"><input name='idsector' id='idsector' type='checkbox' value="{{ idsector }}" ></td>	
                            <td class="text-center">{{ codsector }}</td>
                            <td>{{ sector }}</td>
                            <td class="text-center">{{#ifeq flag "1" }}Activo{{else}}Inactivo{{/ifeq}}</td>
                        <td class="text-center">
                            <a href="javascript:void(0);" class="btn btn-success view" data-id="{{ idsector }}" data-codsector="{{ codsector }}" data-sector="{{ sector }}" data-fecmod="{{formatTime fecmod "DD/MM/YYYY hh:mm:ss"}}" data-flag="{{ flag }}">Ver</a>    
                            <a href="javascript:void(0);" class="btn btn-primary edit" data-id="{{ idsector }}" data-codsector="{{ codsector }}" data-sector="{{ sector }}" data-flag="{{ flag }}">Editar</a>    
                            <a href="javascript:void(0);" class="btn btn-danger delete" data-id="{{ idsector }}"> Borrar</a>
                        </td>
                        </tr>
                        {{/each}}                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/viewsec" method="post">
    <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Vista de tabla Sector</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                        <input type="text" name="id" class="form-control idsector" readonly>
                        </div>                    
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Código</label>
                        <div class="col-sm-10">
                        <input type="text" name="codsector" class="form-control codsector" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Sector</label>
                        <div class="col-sm-10">
                        <input type="text" name="sector" class="form-control sector" readonly>
                        </div>  
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Fecha</label>
                        <div class="col-sm-10">
                        <input type="text" name="fecmod" class="form-control fecmod" readonly>
                        </div>  
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-10">
                        <input type="text" name="flag" class="form-control flag" readonly>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form action="/savesector" method="post">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Nuevo registro de tabla Sector</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Codigo de Sector</label>
                        <div class="col-sm-10">
                            <input type="text" name="codsector" class="form-control" placeholder="Código de Sector" required>
                        </div>                    
                    </div>                        
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Sector</label>
                        <div class="col-sm-10">
                            <input type="text" name="sector" class="form-control" placeholder="Sector" required>
                        </div>                    
                    </div>   
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="form-group form-check col-md-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="optRadio1" value="1">
                                <label class="form-check-label" for="optRadio1">Activo</label>
                            </div>
                            <div class="form-group form-check col-md-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="optRadio2" value="0">
                                <label class="form-check-label" for="optRadio2">Inactivo</label>
                            </div>
                        </div>                    
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form action="/updatesec" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Editar Tabla Sector</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Codigo de Sector</label>
                        <div class="col-sm-10">
                            <input type="text" name="codsector" class="form-control codsector" placeholder="Código de Sector" disabled>
                        </div>                    
                    </div>                       
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Sector</label>
                        <div class="col-sm-10">
                            <input type="text" name="sector" class="form-control sector" placeholder="Nombre de Sector" required>
                        </div>                    
                    </div>  
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="form-group form-check col-md-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="optRadio1" value="1">
                                <label class="form-check-label" for="optRadio1">Activo</label>
                            </div>
                            <div class="form-group form-check col-md-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="optRadio2" value="0">
                                <label class="form-check-label" for="optRadio2">Inactivo</label>
                            </div>
                        </div>                    
                    </div>                     
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" class="idsector">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="add-row-form" action="/delsec" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Eliminar registro Sector</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <strong>¿Estás seguro de eliminar el registro?</strong>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" class="form-control id2" required>
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function (){
        $('#mytable').on('click', '.view', function (){
            var idsector = $(this).data('id');
            var codsector = $(this).data('codsector');
            var sector = $(this).data('sector');
            var flag = $(this).data('flag');
            var fecmod = $(this).data('fecmod');
            $('#ViewModal').modal('show');
            $('.codsector').val(codsector);
            $('.sector').val(sector);
            $('.idsector').val(idsector);
            $('.flag').val(flag);
            $('.fecmod').val(fecmod);
        });
        $('#mytable').on('click', '.edit', function (){
            var idsector = $(this).data('id');
            var codsector = $(this).data('codsector');
            var sector = $(this).data('sector');
            var flag = $(this).data('flag');
            $('#EditModal').modal('show');
            $('.codsector').val(codsector);
            $('.sector').val(sector);
            $('.idsector').val(idsector);
            $("input[name=inlineRadioOptions][value=" + flag + "]").prop('checked', true);
        });
        $('#mytable').on('click', '.delete', function (){
            var idsector = $(this).data('id');
            $('#DeleteModal').modal('show');
            $('.id2').val(idsector);
        });
    });
</script>